
.vs/filesort/v15/Browse.VC.db
.vs/filesort/v15/Browse.VC.opendb
.vs/filesort/v15/ipch/AutoPCH/1c7b281d6cc02da6/DISPLAYMESSAGES.ipch
.vs/filesort/v15/ipch/AutoPCH/2c6fceb9d2f7b75f/MAIN.ipch
.vs/filesort/v15/ipch/AutoPCH/4a5edeb748736ded/OBJECTCREATOR.ipch
.vs/filesort/v15/ipch/AutoPCH/524bf46882f71898/FILESORT.ipch
.vs/filesort/v15/ipch/AutoPCH/e7365df57298a918/FILESORT.ipch
.vs/filesort/v15/Solution.VC.db
.vs/filesort/v15/Solution.VC.db-shm
.vs/filesort/v15/Solution.VC.db-wal
A.txt
Debug/A.txt
*.obj
*.pdb
*.tlog
*.iobj
*.ipdb
Release/filesort.exe
Debug/filesort.exe
*.idb
filesort/Debug/filesort.log
filesort/Release/filesort.log
*.ipch
filesort/Release/filesort.Build.CppClean.log
x64/Release/filesort.exe
filesort/x64/Release/filesort.log
.vs/filesort/v15/.suo
.vs/filesort/v16/Browse.VC.db
.vs/filesort/v16/Browse.VC.db-shm
.vs/filesort/v16/.suo
.vs/filesort/v16/Browse.VC.db-wal
.vs/filesort/v16/Browse.VC.opendb
*.recipe
*.gch
.vscode/tasks.json
filesort/a.exe
.vscode/settings.json
filesort/DisplayMessages.o
filesort/filesort.o
filesort/main.o
filesort/ObjectCreator.o
filesort/filesort.exe
filesort/.vscode/settings.json
filesort/.build/CMakeCache.txt
filesort/.build/CMakeFiles/cmake.check_cache
filesort/mzi4kitd.x45~
filesort/x64/Debug/filesort.log
x64/Debug/filesort.exe
filesort/x64/Release/filesort.Build.CppClean.log
filesort/x64/Release/filesort.vcxproj.FileListAbsolute.txt
/filesort/x64/Debug/filesort.vcxproj.FileListAbsolute.txt
/filesort/x64/Debug/filesort.Build.CppClean.log
/filesort/wordfilesort.o
/filesort/linefilesort.o
/filesort/lengthfilesort.o
filesort/textfilesort.o
/filesort/Releases/2.0
/filesort/Releases/3.0
/filesort/Releases/4.0
